:root {
  --FirstColor:#722ed1;
  --SecondColor:black;
  --ThirdColor:linear-gradient(#fff, #e2f1ff);
  --ForthColor:#f9f0ff;
  --FifthColor:#160637;
  --SixColor:#8989a2;
  --SevenColor:#fff;
  --EightColor:#FBFCFF;
  --NineColor:#000;
  --tenColor:#1F1E24;
}
/* Toggle icon X - --- */
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  /* color when toggler open */
  background-color: var(--FirstColor);
  position: relative;
  z-index: 2000;
  display: block;
  transition: all 0.2s;
}
/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}
/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  /* Color when toggler closed */
  background-color: var(--SecondColor);
}
/* End of Toggle Icon X - --- */

/* Toggler Styling */
@media (max-width: 991px) {
  .navbar-collapse {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: var(--ThirdColor);
    padding: 60px 40px 0 0;
    height: 100%;
  }
  .navbar-collapse.collapsing {
    height: 100%;
    left: -75%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 400ms ease-in;
  }
}
/* End Toggler Styling */

/* spinner */
#section-loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  background-color: #100E17;
}
#section-loader .loader {
  position: relative;
}
#section-loader .loader div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#section-loader .loader div:nth-child(1) {
  border-color: #E91E63;
}

#section-loader .loader div:nth-child(2) {
  border-color: #0dbda1;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

#section-loader .loader {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@keyframes loader {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 57px;
    left: 57px;
    width: 74px;
    height: 74px;
    opacity: 0;
  }
}

@-webkit-keyframes loader {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 57px;
    left: 57px;
    width: 74px;
    height: 74px;
    opacity: 0;
  }
}
/* End spinner */
/* Start nav */

header {
  min-height:calc(100vh - 65px);
  background-image: var(--ThirdColor);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 100% 85%, 0 100%, 0% 60%, 0 0);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--SecondColor);
}
.navbar-light .navbar-nav .nav-link.active{
  color: #722ed1;
  border-bottom: 3px solid #722ed1 ;
}

.navbar-light .navbar-nav .nav-link {
  margin-left: 25px;
} 
.navbar-light .navbar-nav .get-started {
  padding: 6px 35px;
  border: 1px solid var(--FirstColor);
  color: var(--NineColor)!important;
  border-radius: 20px;
}
@media(max-width:768px){
  .navbar-brand img {
    width: 39px;
  }
}
nav .nav-link:hover {
  color: var(--FirstColor) !important;
}

/* End Navigation */
/* Start Landing */
.landing {
  padding-top: 120px;
}
@media(max-width:992px){
  .landing .content-b{
    width: fit-content;
  }
}
.landing .content .landing-head {
  color: var(--FirstColor);
  background-color: var(--ForthColor);
  border-radius: 20px;
  width: 268px;
  padding: 6px 30px;
}
.landing .content .landing-head a {
  color: var(--FirstColor);
}
.landing .content h1 {
  font-size: 44px;
  font-weight: bold;
  color: var(--FifthColor) !important;
  margin-bottom: 10px;
  margin-top: 13px;
}

.landing .content p {
  color: var(--SixColor);
  font-weight: 500;
  margin-bottom: 40px;
}
.landing .content .heads-links a {
  padding: 12px 37px;
  text-decoration: none;
  font-size: 14px;
}
@media (max-width: 970px) {
  .landing .content .heads-links a {
    padding: 8px 16px;
  }
}
.landing .content .heads-links a:nth-of-type(1) {
  color: var(--SevenColor);
  background-color: var(--FirstColor);
  border-radius: 20px;
  margin-right: 16px;
}
.landing .content .heads-links a:nth-of-type(2) {
  color: black !important;
  background-color: var(--SevenColor);
  border-radius: 20px;
}
@media (max-width: 1300px) {
  .landing .content h1 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .landing .content h1 {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .landing .content h1 {
    font-size: 27px;
  }
  .landing .content .heads-links a {
    padding: 8px 16px;
  }
}
@media (max-width: 767px) {
  .landing .content p {
    max-width: 400px;
  }
  .landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .landing {
    padding-top: 85px;
  }
  .landing .content h1 {
    font-size: 30px;
    padding: 15px 0;
  }
  .landing .content .heads-links a {
    padding: 8px 22px;
  }
}
.landing .image img {
  width: 450px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top:0;
  }
  50% {
    top:-50px;
  }
}
/* End Animation */
/* End Landing */
/* Start Qubly */
#qubly {
  padding-top: 100px;
}
@media (max-width: 768px) {
  #qubly {
    padding-top: 85px;
  }
}
.why span {
  display: inline-block;
  background-color: var(--ForthColor);
  color: var(--FirstColor);
  padding: 10px 15px;
  border-radius: 22px;
}
.why span img {
  margin-right: 5px;
}
#qubly .qubly-section-header h1 {
  padding: 25px 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--FifthColor);
}
@media (max-width: 992px) {
  #qubly .qubly-section-header h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #qubly .qubly-section-header h1 {
    font-size: 22px;
  }
}
#qubly .qubly-section-paragraph p {
  color: var(--SixColor);
  padding-bottom: 50px;
}
#qubly h3 {
  font-size: 21px;
  color: var(--FifthColor);
}
.box p {
  color: var(--SixColor);
}

/* End Qubly */
/* Start Product Team */
#proudct-teams {
  padding-top: 120px;
}
#proudct-teams .product-teams-content h3 {
  font-weight: bold;
  font-size: 36px;
  color: var(--FifthColor);
  padding: 30px 0 16px 0;
}
#proudct-teams .product-teams-content p {
  color: var(--SixColor);
}

@media (max-width: 991px) {
  .product-teams-content h3 {
    font-size: 27px !important;
  }
}
@media (max-width: 768px) {
  #proudct-teams {
    padding-top: 120px;
  }
  #proudct-teams .img-holder img {
    margin-bottom: 30px;
  }
}
/* End Product Team */
/* Start About */
#about {
  padding-bottom: 350px;
  background-image: var(--ThirdColor);
  clip-path: polygon(100% 7%, 100% 8%, 100% 73%, 0 100%, 0 35%);
}
#about .about-paragraph {
  padding-top: 500px;
  text-align: center;
}
#about .about-paragraph p {
  font-size: 21px;
  color: var(--FifthColor);
  font-weight: 500;
}
#about .about-head h5 {
  color: var(--FifthColor);
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
#about .about-head hr {
  margin-top: 50px;
  background-color: #dec9fa;
  margin-bottom: 50px;
}
#about .bo {
  width: 120px;
}
/* End About */
/* Start Login */
#login {
  padding-top: 100px;
}
#login .form-box .content h2 {
  color: var(--FifthColor);
  font-size: 35px;
}
@media (max-width: 991px) {
  #login .form-box .content h2 {
    font-size: 25px;
  }
}
#login .form-box .content .login-pragraph {
  margin: 40px 0;
}
#login .form-box .content .login-pragraph hr {
  width: 150px;
  background-color: var(--SixColor);
}
#login .form-box .content .login-pragraph span {
  padding: 0px 20px;
  font-weight: 500;
  color: var(--SixColor);
}
#login .form-container {
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--ForthColor);
  border-radius: 4px;
  
}
#login form {
  background-color: var(--SevenColor);
  padding: 35px;
  border-radius: 4px;
  position: relative;
  border: 2px solid var(--ForthColor);
  bottom: 40px;
}
#login form h3 {
  color: var(--FifthColor);
  font-size: 25px;
}
#login form input {
  padding: 10px 20px;
  border: 1px solid var(--SixColor);
  color: var(--SixColor);
}
#login form input::placeholder {
  color: var(--SixColor);
  font-weight: 500;
}
#login form .trial a {
  text-decoration: none;
  color: var(--SevenColor);
  background-color: var(--FirstColor);
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 15px;
}
#login form hr {
  background-color: var(--SixColor);
}
#login form p {
  color: 14px;
  font-weight: 500;
  color: var(--SixColor);
}
@media(max-width:768px){
  #login form input{
    padding: 10px 10px;
    font-size: 10px;
  }
  #login form .trial a{
    padding: 10px 10px;
    font-size: 10px;
  }
  .sign-up img {
    width: 120px;
  }
  #login form {
    font-size: 10px;
  }
}
/* End Login */
/* Start Footer */
#footer{
  margin-top: 160px;
  padding-top: 70px;
  background-color:var(--EightColor);
}
#footer  p{
  font-size: 12px;
  color: var(--FifthColor);
  font-weight: 500;
}
#footer h4 {
  color: var(--FifthColor);
  font-size: 12px;
}
#footer .f-col p{
  padding: 15px 0;
}
#footer .f-col .links a:nth-of-type(2) {
  padding: 0 20px;
}
#footer .footer-email input , 
#footer .footer-email input::placeholder{
  color: var(--SixColor);
  font-weight: 500;
  
}
#footer .footer-email input {
  box-shadow: 0px 0px 5px -1px var(--SecondColor);
  border: none;
}
.input-holder {
  position: relative;
}
.input-holder input {
  padding-right: 28px;
}
.input-holder img {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
@media(max-width:576px){
  #footer  p{
    font-size: 14px;
    
  }
  #footer h4 {
    color: var(--FifthColor);
    font-size: 18px;
  }
}
@media(max-width:576px){
  #footer .new-settlers {
    order: -1;
  }
}
/* End Footer */
.active-link {
  background: #26dff7;
  color: rgb(255, 255, 255);
  transition: ease 0.3s all;
}